<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form action="/register" method="post">
        name <input type="text" name="name" id="">
        username <input type="text" name="username" id="">
        email <input type="email" name="email" id="">
        password <input type="password" name="password" id="">
        <button type="login">register</button>
    </form>
</body>
</html>